@import "styles/variables";
@import "styles/mixins";

.card {
  @include fontCard;

  padding: 13.3rem 2.5rem 2.2rem 2.9rem;
  background-repeat: no-repeat;
  background-color: $colorLightest;
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0, 0.07);
}
