// screen sizes
$adaptiveMax: 1200px;

// colors
  // fonts
  // backgrounds
$colorBgMain: rgb(241, 241, 241);
$colorBgBtnPale: rgba(255, 255, 255, 0.22);
  // common
$colorLightest: rgb(255, 255, 255);
$colorLightest1: rgba(255, 255, 255, 0.8);
$colorDarkest: rgb(36, 36, 36);
$colorHighlightLight: rgb(31, 201, 105);
$colorHighlightDark: rgb(114, 0, 222);
$colorButton: rgb(151, 151, 151);
$colorNotification: rgb(175, 175, 175);
$colorCopyright: rgb(189, 189, 189);

  // borders
$borderButtonTransparent: rgba(255, 255, 255, 0.2);
$borderTabs: rgba(36, 36, 36, 0.24);
  // shadows

  // misc
$retina__dpi: 144dpi;
$retina__dppx: 1.5dppx;
// transitions
$transitionDuration: 0.3s;

// spaces
$paddingSpecialHorizontal: 17rem;
