@import "styles/variables";
@import "styles/mixins";

.section {
  position: relative;
  padding: 5rem 0 0 0;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -25vw;
    width: 150vw;
    height: 100%;
    background-color: black;
    transform: rotate(-5deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(100% + 0.2rem);
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: $colorLightest;
    transform: rotate(-5deg);
    z-index: 3;
  }
}

.container {
  position: relative;
  padding: 0 0 0 20.9rem;

  :global {
    .swiper-wrapper {
      @include resetList;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10rem 55% 12rem 0;
}

.photo {
  position: absolute;
  top: -12rem;
  left: -10rem;
  width: 100%;
  height: 83rem;
  object-fit: cover;
  z-index: -1;
}

.name {
  @include fontButtonStrong($colorHighlightLight);

  margin: 3rem 0 0 0;
}

.list {
  @include resetList;

  margin-top: 2rem;
  padding-right: 5%;
}

.item {
  @include fontButtonStrong($colorLightest, 400);

  &:not(:first-child) {
    margin-top: 3rem;
  }
}

.hint {
  @include fontSmall;

  margin: 4rem 0 0 0;
  opacity: 0.5;
}

.link {
  margin-top: 1rem;
}

.button {
  @include resetButton;

  position: absolute;
  top: 26rem;
  transition-duration: $transitionDuration;
  z-index: 2;

  &:hover {
    .icon {
      fill: $colorHighlightLight;
    }
  }

  .icon {
    width: 6.4rem;
    fill: $colorButton;
    transition-duration: $transitionDuration;
  }
}

.buttonPrev {
  left: 10rem;
  transform: rotate(180deg);
}

.buttonNext {
  right: 10rem;
}

.buttonDisabled {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: $adaptiveMax) {
  .section {
    padding: 0;
  }

  .container {
    padding: 0;
  }

  .slide {
    padding: 7rem var(--padding-h);
    text-align: center;
  }

  .heading {
    order: 1;
    text-align: center;
  }

  .photo {
    order: 2;
    position: relative;
    top: 0;
    left: -39rem;
    margin-top: 3rem;
    width: 80rem;
    height: 35.1rem;
    object-fit: cover;
  }

  .name {
    order: 3;
    width: 100%;
  }

  .list {
    order: 4;
    margin-top: 2.7rem;
    padding-right: 0;
  }

  .hint {
    order: 5;
  }

  .link {
    order: 6;
    margin-top: 0.7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
  }

  .button {
    top: 32rem;
    padding: 1rem;

    .icon {
      width: 3.1rem;
    }
  }

  .buttonPrev {
    left: 0;
  }

  .buttonNext {
    right: 0;
  }
}
